version: 2.1
orbs:
  node: circleci/node@4.7
workflows:
  sample:
    jobs:
      - node/test:
          version: '16.10'
          pkg-manager: npm
language: node_js
node_js:
  - 12
script:
  - eslint 'src/**'
  - npm run teste:ci