@import '../styles/colors.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: $background;
}

input[type='password'],
input[type='email'] {
  border: 1px solid $primaryLight;
  line-height: 40px;
  border-radius: 4px;
  margin: 10px 0 0 0;
  padding-left: 10px;

  &:focus {
    outline-color: $primaryLight;
  }
}

button {
  background-color: $primary;
  color: $white;
  border-radius: 8px;
  font-size: 16px;
  line-height: 40px;
  border: none;

  &:hover {
    opacity: 0.9;
  }
}