@import '../../styles/colors.scss';

.errorWrap {
  display: flex;
  flex-direction: column;
  align-items: center;

  .loader {
    color: $primaryLight;
    font-size: 30px;
    align-self: center;
  }

  .error {
    color: red;
    font-size: 16px;
    font-weight: 700;
  }
}